.cards-hightlights_container{
    background-color:#FFFFFF;
    min-width: 210px;
    min-height: 150px;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    padding: 1rem;
}

.center_card{
    font-size: 60px;
    margin: 10px 0px;
}