.cards-hightlights_container{
    background-color:#FFFFFF;
    min-width: 13.1rem;
    min-height: 9rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 15px;
    padding: 1rem;
}

.top_card{
    color: #CECECE;
    font-weight: 500
}

.center_card{
    font-size: 2rem;
    font-weight: 500;
    margin: 0.62rem 0rem;
}

.medida{
    font-size: 1rem;
    font-weight: 500
}

.res{
    font-size: 1rem;
    font-weight: 500 
}

.sun{
    margin-top: 1.2rem;
}