.right-panel_container{
    background-color:#F7F6F9;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2rem 2.5rem;
}

.header_right{
    display: flex;
    justify-content: space-between;
    min-height: 2rem;
}

.header_title{
    text-decoration: underline;
    font-weight: 700;
    color: #1A1A1A;
    padding-top: 6px;
}

.button-header_container{
    display: flex;
    min-width: 4rem;
    justify-content: space-between;
}

.botton{
    border-radius: 50%;
    border: none;
    width: 30px;
    font-weight: 700;  
}

.botton:active{
    background-color: #1A1A1A;
    color: white;
}

